<div>
<form>
    <div class="mb-3">
        <br><br><br><br><br>
        <label for="name" class="form-label" style="font-size: xx-large; color: #e0dcdc;">New/Updated Address</label>
        <input type="text" class="form-control" style="font-size: xx-large;" name="name" [(ngModel)]="customer.address" placeholder="Enter new/updated address"/>
    </div>
    <div class="mb-3">
         <input type="button" value="Update address" (click)="updateAddress()"/>
    </div>
</form><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>