<div>
<form>
    <div class="mb-3">
        <br><br><br><br><br>
        <label for="name" class="form-label" style="font-size: xx-large; color: #e0dcdc;">New/Updated Payment</label>
        <input type="text" class="form-control" style="font-size: xx-large; color: #e0dcdc;" name="name" [(ngModel)]="customer.payment" placeholder="Enter new/updated payment"/>
    </div>
    <div class="mb-3">
         <input type="button" value="Update payment" (click)="updatePayment()"/>
    </div>
</form><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
